body{
 font-family: 'Patrick Hand', cursive;
   background-color:#7f6dd6;
   color:white;
}
.container{
    display:flex;
    width:1200px;
    height:500px;
}
.content{
    background: #2673ef;
    color:white;
    border:20px groove #2169dd;
    padding:10px;
    
}
.output{
    
}